.list-table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
  font-size: 1rem;

  thead {
    font-weight: 500;
    text-align: left;
  }

  th, td {
    padding: 1rem;
    border-top: 1px solid #343a40;
    border-bottom: 1px solid #343a40;
    transition: background-color 0.6s ease-in-out;
  }

  th { border-bottom-width: 2px; }

  .delete-button {
    transition: all 0.3s ease;
    opacity: 0;
    border: none;
    background: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }

  tbody > tr:hover > td {
    background-color: #343a40;
    color: #fff;

    .delete-button {
      opacity: 1;
    }
  }

  .cell-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}