.add-currency-wrapper {
  display: flex;
  align-items: center;

  .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e90ff;
    border: none;
    outline: none;
    color: #fff;
    line-height: normal;
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  select {
    height: 32px;
  }
}