body {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.exchange-rates {
  display: flex;
  justify-content: center;

  .content {
    display: block;
    width: 100%;
    max-width: 480px;
  }

  header {
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
    padding: .5rem 1rem;

    h4 {
      font-size: 1.25rem;
      margin: 0;
      padding: .3125rem 0;
    }
  }
}